@import "global.css";


.body {
    width: 100vw;
    font-family: var(--font);
    color: var(--primary-400);
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

/*
Navbar
*/
nav.navbar {
    padding: 15px 60px;
    background: var(--primary-50);
    font-size: 14px;
    font-weight: 800;
    font-family: var(--font);
}
div.navbar-collapse {
    display: flex;
    justify-content: flex-end;
    color: white;
}

button.ui.vertical.animated.button {
    background: none;
    padding-left: 45px;
}


.navbar.navbar-light {
    color: white;
}

img.logo {
    width: 120px;
    margin: 0;
}


/* BODY */
.profile-picture {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.upload-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-200);
    text-align: center;
    padding: 5px;
    cursor: pointer;
    color: white;
    display: none;
}

.profile-picture:hover .upload-button {
    display: block;
}

#profilePicture {
    display: none;
}
.acc-update{
    padding: 50px
}

.additional-info{
    padding: 0;
}

.additional-info h3{
    margin-top: 30px;
}

#update-btn {
    margin-bottom: 50px;
    margin-top: 20px;
    background-color: var(--primary-200);
}

#update-btn:hover {
    background-color: var(--primary-600);
    color: white;
}
/* Footer */

.footer {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
    background-color: var(--primary-50);
    color: var(--secondary-black);
    padding: 20px 0;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }

.logo {
    max-width: 100%;
    margin-bottom: 20px;
}

.footer .col-md-4, .footer .col-md-2 {
    margin-top: 50px;
}

.footer .col-md-4 {
    margin-bottom: 20px;
}

.footer h3 {
    color: var(--primary-400);
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul a {
    color: var(--secondary-black);
    text-decoration: none;
}

/* Style the copyright text */
.copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #999;
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }


@media screen and (max-width: 480px) {
    .container.acc-update {
        flex-direction: column;
        align-items: center;
    }
    .col-md-4 {
        width: 100%;
        order: 2; /* Move the profile picture below */
    }
    .col-md-8 {
        width: 100%;
        order: 1; /* Move the update form above */
    }

    .profile-picture {
        width: 150px; /* Adjust the size as needed */
        height: 150px; /* Adjust the size as needed */
    }

    .upload-button {
        display: block; /* Show the upload button */
        text-align: center;
        margin-top: 10px; /* Adjust spacing as needed */
    }
}
   
