@import "global.css";

body,p,h1,h2,form,#process {
    font-family: var(--font);
    color: black;

}
.btn.btn-primary{
    font-family: var(--font);
}
/* Customize the navbar */
.footer p {
    background-color: var(--primary-50);
}