@import "global.css";


.btn.btn-primary{
    font-family: var(--font);
}

.adoption-form {
    max-width: 500px;
    margin: 0 auto;
    color: black;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}
.pic {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}