@import "global.css";

body,p,h1,h2,form,#process {
    background-color: #f8f9fa;
    font-family: var(--font);
}
.btn.btn-primary{
    font-family: var(--font);
}

.conversation {
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    border-radius: 4px;
}

.message {
    margin: 5px 0;
}

.shelter-message {
    text-align: left;
    background-color: #d1e9ff;
    border-radius: 5px;
    margin-top: 30px;
}

.user-message {
    text-align: right;
    background-color: #e9f7e1;
    border-radius: 5px;
    margin-top: 30px;
}
