@import "global.css";

body,h1,h2,form,#process {
    background-color: white;
    font-family: var(--font);
    color: black;
}
p{
    font-family: var(--font);
    color: black;
}
.btn.btn-primary{
    font-family: var(--font);
    color: black;
}
.review-column {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    background-color: #fff;
    border-radius: 4px;
}
.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px !important;
    font-weight: bold;

}

