@import "global.css";

.form-group {
    margin-bottom: 15px;
}

.btn-block {
    display: block;
    width: 100%;
}

.close{
    position: absolute;
    right: 0;
    top: 0;
    background: transparent;
    border: none;
    font-size: 1.5rem; /* Adjust the font size as needed */
    cursor: pointer;
    margin-right: 8px;
    margin-top: 6px;
    color: var(--primary-50);

}

.modal-content {
    height: 80vh; /* Adjust the height as needed */
    max-height: none; /* Allow the modal content to expand vertically */
    border-radius: 20px;
}

.modal-dialog {
    width: 80%; /* Increase the width as needed */
    max-width: 800px; /* Set a maximum width if desired */
    border-radius: 10px;

}
.login-modal {
    display: flex;
    justify-content: space-between; /* Use space between to evenly distribute the divs */
}

.login {
   margin-top: 30px; 

}
.login-modal-left {
    flex: 0.6;
    background: #fff;
    padding: 20px;
    height: 80vh;
}

.login-modal-left h2 {
    margin-bottom: 35px;
    margin-top: 20px;
    font-size: 1.5rem;
}

.social-buttons {
    display: flex; /* Display the buttons in a row */
    align-items: center;
    justify-content: center;
}

.ui.facebook.button {
    margin-right: 20px; /* Add some margin between the buttons */
}
.ui.twitter.button {
    margin-right: 20px; /* Add some margin between the buttons */
}


.divider {
    text-align: center;
    margin-top: 20px; /* Increase the margin for spacing */
    margin-bottom: 20px; /* Increase the margin for spacing */
}

.divider-line {
    width: 100%;
    height: 1px;
    background: #ccc; /* Line color */
    position: relative;
    top: 50%; /* Position the line in the middle of the "or" text */
    z-index: 1;
}

.or {
    background: #fff;
    padding: 0 10px;
    font-weight: bold;
    color: #333;
    position: relative;
    z-index: 2;
}


.form-group {
    margin-bottom: 15px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    color: var(--primary-50);
    background-color: var(--primary-600);
}
.btn :hover{
    color: var(--primary-50);
    background-color: var(--primary-600);
}

.additional-links {
    display: flex;
}

.small-text {
    font-size: 12px;
}

.gray-text {
    color: #888; /* Gray color */
}

.right-align {
    text-align: right;
    margin-left: auto;
}

.additional-links a {
    text-decoration: underline; /* Add underline to hyperlinks */
    color: inherit; /* Inherit the text color from the parent element (gray) */

}

.login-modal-right {
    flex: 0.4; /* Make the right div take up half of the available space */
    background: var(--primary-600); /* Lilac background color */
    padding: 40px 20px 20px 20px; /* Adjust the padding as needed */
    height: 80vh;
    color: var(--primary-50);
}

.login-modal-right h3 {
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.benefit {
    margin-bottom: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.benefit i {
    margin-right: 10px;
    font-size: 24px;
}

.benefit p {
    font-size: 1.2rem;
}

