{% extends "base.html" %}
{% load static %}
{% block title %}Account Login{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block content %}
<main>
  <h2>Please enter your login information</h2>
  <form class="form" action="{% url 'accounts:login' %}" 
      method="POST" autocomplete="off">
  {% csrf_token %}      
  {% include './form.html' %}
  <button class="btn" type="submit">Login</button>
  </form>
</main>
{% endblock %}